<div class="d-flex align-items-center justify-content-center h-100">
  <div class="card" style="width: 400px">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="card-body">
      <div class="container">
        <div class="form-group row">
          <label for="firstName" class="col-sm-6 align-items-end text-right">FirstName</label>
          <div class="col-sm-6 p-0">
            <input type="text"
                   id="firstName"
                   formControlName="firstName"
                   class="form-control form-control-sm">
            <div *ngIf="!form.get('firstName').pristine" class="text-danger">
              <small *ngIf="form.get('firstName').hasError('required')">Please input first name.</small>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="lastName" class="col-sm-6 align-items-end text-right">LastName</label>
          <div class="col-sm-6 p-0">
            <input type="text"
                   id="lastName"
                   formControlName="lastName"
                   class="form-control form-control-sm">
            <div *ngIf="!form.get('lastName').pristine" class="text-danger">
              <small *ngIf="form.get('lastName').hasError('required')">Please input last name.</small>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-sm-6 align-items-end text-right">Email</label>
          <div class="col-sm-6 p-0">
            <input type="email"
                   id="email"
                   formControlName="email"
                   class="form-control form-control-sm">
            <div *ngIf="!form.get('email').pristine" class="text-danger">
              <small *ngIf="form.get('email').hasError('required')">Please input email.</small>
              <small *ngIf="form.get('email').hasError('pattern')">The format is incorrect.</small>
            </div>
          </div>
        </div>
        <div [formGroup]="form.get('passwords')" class="form-group row">
          <label for="password" class="col-sm-6 align-items-end text-right">Password</label>
          <div class="col-sm-6 p-0">
            <input type="password"
                   id="password"
                   formControlName="password"
                   class="form-control form-control-sm">
            <div *ngIf="!form.get('passwords').get('password').pristine" class="text-danger">
              <small *ngIf="form.get('passwords').get('password').hasError('required')">Please input password.</small>
              <small *ngIf="form.get('passwords').get('password').hasError('pattern')">The format is incorrect.</small>
            </div>
          </div>
        </div>
        <div [formGroup]="form.get('passwords')" class="form-group row">
          <label for="confirmPassword" class="col-sm-6 align-items-end text-right">Confirm Password</label>
          <div class="col-sm-6 p-0">
            <input type="password"
                   id="confirmPassword"
                   formControlName="confirmPwd"
                   class="form-control form-control-sm">
            <div *ngIf="!form.get('passwords').get('confirmPwd').pristine" class="text-danger">
              <small *ngIf="form.get('passwords').hasError('isNotEqual')">Password is not the same.</small>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary mr-2" routerLink="/login">Sign In</button>
        <button type="submit" class="btn btn-outline-primary mr-2" [disabled]="!form.valid">Sign Up</button>
      </div>
    </form>
  </div>
</div>

<pre>{{ form.value | json}}</pre>
<pre>{{ form.status }}</pre>
