<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="firstName">FirstName</label>
    <input type="text"
           id="firstName"
           formControlName="firstName">
    <div *ngIf="!form.get('firstName').pristine">
      <span *ngIf="form.get('firstName').hasError('required')">Please input first name.</span>
    </div>
  </div>
  <div>
    <label for="lastName">LastName</label>
    <input type="text"
           id="lastName"
           formControlName="lastName">
    <div *ngIf="!form.get('lastName').pristine">
      <span *ngIf="form.get('lastName').hasError('required')">Please input last name.</span>
    </div>
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email"
           id="email"
           formControlName="email">
    <div *ngIf="!form.get('email').pristine">
      <span *ngIf="form.get('email').hasError('required')">Please input email.</span>
      <span *ngIf="form.get('email').hasError('pattern')">The format is incorrect.</span>
    </div>
  </div>
  <div [formGroup]="form.get('passwords')">
    <label for="password">Password</label>
    <input type="password"
           id="password"
           formControlName="password">
    <div *ngIf="!form.get('passwords').get('password').pristine">
      <span *ngIf="form.get('passwords').get('password').hasError('required')">Please input password.</span>
      <span *ngIf="form.get('passwords').get('password').hasError('pattern')">The format is incorrect.</span>
    </div>
  </div>
  <div [formGroup]="form.get('passwords')">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password"
           id="confirmPassword"
           formControlName="confirmPwd">
    <div *ngIf="!form.get('passwords').get('confirmPwd').pristine">
      <span *ngIf="form.get('passwords').hasError('isNotEqual')">Password is not the same.</span>
    </div>
  </div>
  <button type="submit">Sign Up</button>
</form>
<pre>{{ form.value | json}}</pre>
<pre>{{ form.status }}</pre>
